openapi: 3.2.0
info:
  title: Bandwidth Emergency Calling Available Numbers Number Features API
  description: The Bandwidth Emergency Calling API provides programmatic access to provision and manage 911 endpoints and locations for emergency services routing. It supports Dynamic Location Routing (DLR) for real-time address validation and location updates, ensuring compliance with Kari's Law and RAY BAUM's Act requirements. Bandwidth is the only CPaaS provider that also operates its own emergency services network, providing direct connectivity to public safety answering points (PSAPs) across the United States and Canada.
  version: '1.0'
  contact:
    name: Bandwidth Support
    url: https://support.bandwidth.com
  termsOfService: https://www.bandwidth.com/legal/
servers:
- url: https://dashboard.bandwidth.com/api
  description: Production Server
security:
- basicAuth: []
tags:
- name: Number Features
  description: Configure phone number features including CNAM (Caller Name), directory listings, and line features for numbers in your inventory.
paths:
  /accounts/{accountId}/tns/{phoneNumber}/tnfeatureorder:
    post:
      operationId: updateNumberFeatures
      summary: Update phone number features
      description: Creates a feature order to configure features such as CNAM, directory listings, and line features for a specific phone number.
      tags:
      - Number Features
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: phoneNumber
        in: path
        required: true
        description: The phone number to update features for
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/FeatureOrderRequest'
      responses:
        '201':
          description: Feature order created successfully
        '400':
          description: Invalid feature order request
        '401':
          description: Unauthorized
        '404':
          description: Phone number not found
components:
  schemas:
    FeatureOrderRequest:
      type: object
      description: Request to configure phone number features
      properties:
        callingNameDisplay:
          type: object
          properties:
            enabled:
              type: boolean
              description: Whether CNAM display is enabled
            callingName:
              type: string
              maxLength: 15
              description: The caller name to display (max 15 characters)
        directoryListing:
          type: object
          properties:
            listed:
              type: boolean
              description: Whether the number is listed in the directory
            listingType:
              type: string
              enum:
              - LISTED
              - NON_LISTED
              - NON_PUBLISHED
              description: The type of directory listing
            listingName:
              type: string
              description: The name for the directory listing
            listAddress:
              type: boolean
              description: Whether to list the address in the directory
  parameters:
    accountId:
      name: accountId
      in: path
      required: true
      description: The unique identifier for the Bandwidth account
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using your Bandwidth Dashboard API credentials.
externalDocs:
  description: Bandwidth Emergency Calling API Documentation
  url: https://dev.bandwidth.com/docs/emergency/emergencyCallingApi/
